
.header-container{
    display: grid;
    grid-auto-rows: minmax(20px,auto);
    grid-gap: 20px;

}

.main-container{
    display: grid;
    grid-auto-rows: minmax(150px,auto);
    grid-gap: 80px;

}

.footer-container{
    display: grid;
    grid-auto-rows: minmax(150px,auto);
    grid-gap: 20px;

}
.is-nav {
    grid-row: 1;
    background-color: #ed6700;
    padding: 25px;
}

.is-header > h1 {
    grid-row: 2;
    color: darkgreen;
}


.is-first-item {
    grid-column: 1;

}

.is-second-item {
    grid-column: 2;
}

.is-third-item {
    grid-column: 3;
}

.is-fourth-item {
    grid-column: 4;

}

.is-fifth-item {
    grid-row: 2;
}

.is-footer{
    grid-row: 1;
    padding: 25px;
    padding-left: 25px;
    background-color: #70bd40;
    margin-top: 50px;

}

.is-footer-detail{
    grid-row: 1;
    padding: 25px;
    padding-left: 25px;
    background-color: #70bd40;
    margin: 1px 1px;

}

img {
    height: 200px;
}

h3 > a{
    text-decoration: none;
    color: green;
}